<link rel="stylesheet" href="/stylesheets/artwork/upload.css" />
<h1>UPDATE</h1>
<form action="/update/{{artwork._id}}" method="post" enctype="multipart/form-data">

        <label for="description">Description <span>*required</span></label>
        <input value = "{{artwork.description}}" id="description" type="text" name="description">

        <label for="city">City <span>*required</span></label>
        <input value = "{{artwork.city}}" id="city" type="text" name="city">

        <label>Address <span>*required</span></label>
        <input id="address" type="text" name="address" placeholder="Groeninxstraat 19, Rotterdam" >
        <a id="submitAddress">Get Google Maps location</a>
        <input id="latitude" type="text" name="latitude" placeholder="f.e. 51.9303477" >
        <input id="longitude" type="text" name="longitude" placeholder="f.e. 4.4516448">
        
        <label for="incognito">Artist details? <span>*required</span></label>
        <div class="form-radio">
            <input checked="checked" type="radio" id="public" name="incognito" value="true">
            <label for="public">Public</label>

            <input type="radio" id="incognito" name="incognito" value="false">
            <label for="incognito">Incognito</label>
        </div>
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Update</button>
</form>

<div id="map" style="display: none"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}"></script>
<script type="text/javascript" src="/javascripts/upload.js"></script>